.body{
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  border: dashed black 3px;
  background-color:lightgray;
}
.section{
    height: 75vh;
    display: flex;
    justify-content: space-around;
    border-top: dashed black 3px;
    border-bottom: dashed black 3px;
    background-color: greenyellow;
}
.article{
    flex-basis: 70%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: dashed black 3px;
    border-left: dashed black 3px;
    background-color: pink;
}
.aside{
    flex-basis: 25%;
    order: 1;
    border-right: dashed black 3px;
    border-left: dashed black 3px; 
    background-color: rgb(219, 163, 219);
}
.imagen{
    border: solid 1px black;
}
.footer{
    background-color: lightskyblue;
    display: flex;
    flex-basis: 5%;
}
.header{
    background-color:rgb(231, 189, 110);
    display: flex;
    flex-basis: 20%;
}
