.animacion {
    display: inline;
    font-size: 90px;
    border: solid 5px;
    animation-name: changeColor;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
}  
@keyframes changeColor {
    to {
        width: 100%;
    }
    50%{ 
        width: 100%;
        background-color: blueviolet;
    }
    from {
        width: 100%;
        background-color: coral;
    }
}